* {
    font-family: 'Assistant', sans-serif;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sora', sans-serif;

    --textColor: rgba(247, 243, 243, 0.916);
    --orangeColor: #8347E5;

    --grayColor: #312b2b;
    --gray2Color: #8347E5;
}

body>section.coinsSec,
body>section.aboutSec,
body>section.reportsSec {
    display: none;
}

body .coinsSec.show {
    display: flex;
}

body .aboutSec.show {
    display: flex;
}

body .reportsSec.show {
    display: flex;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-image: linear-gradient(to bottom right, #8347E5 41%, rgb(0, 255, 225) 79%);
        background-color: var(--gray2Color);

    }

    .headings {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70%;
        width: 100%;
    }

    .menu {
        padding: 20px;
        padding-top: 0;
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: space-between;

        .navBar {
            gap: 30px;
            min-width: 400px;
            display: flex;

            a {
                margin-left: 10px;
                border-radius: 5px;
                height: 40px;
                padding: 7px;
                background-color: var(--grayColor)
            }
        }

        button {
            background-color: var(--grayColor);
            color: var(--textColor);
            height: 40px;
            border: none;
            border-radius: 5px;
        }

        input {
            height: 40px;
            border-radius: 5px;
            border: 1px solid var(--grayColor);
            background-color: var(--grayColor);
            color: var(--textColor);

        }
        #searchCoin::placeholder{
            color: var(--textColor);
            opacity: 0.5;
        }
    }

    .aboutSec {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grayColor);
        color: var(--textColor);

        .aboutMe {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: var(--grayColor);

            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                margin-bottom: 30px;
            }


            .aboutMeLinks {
                display: flex;
                width: 100%;
                justify-content: space-around;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }


    .reportsSec {
        width: 100%;
        height: 80%;
        background-color: var(--grayColor);
        color: var(--textColor);

        .charts {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
            text-align: center;

            h1 {
                margin-bottom: 100px;
            }

            #chartContainer {
                display: flex;
            }
        }
    }


    .coins {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 30px;
        background-color: var(--grayColor);

        .coin {
            position: relative;
            padding: 10px;
            // border: 1px solid rgb(184, 183, 183);
            width: 280px;
            min-height: 130px;
            text-align: center;
            padding-bottom: 10px;
            border-radius: 5px;
            background-color: var(--textColor);

            button {
                background-color: var(--grayColor);
                color: var(--textColor);
            }

            // .checkBox {
            //     
            // }



            .checkbox {
                display: inline-flex;
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .checkbox>span {
                color: #34495E;
            }

            .checkbox>input {
                height: 25px;
                width: 25px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
                border-radius: 4px;
                outline: none;
                transition-duration: 0.3s;
                background-color: var(--gray2Color);
                cursor: pointer;
            }

            .checkbox>input:checked {
                background-color: var(--grayColor);
            }

            .checkbox>input:checked+span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: var(--textColor);
                position: absolute;
                left: 0.4rem;
                top: 0.1rem;
            }



        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        color: var(--textColor);

        .modal-content {
            background-color: var(--grayColor);
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 15px;
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    // #spinner {
    //     margin: 20px auto;
    //     width: 120px;
    //     height: 120px;
    //     margin: 0;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     position: relative;
    //     // display: none;
    // }

    // .spinner .circle {
    //     animation: spinners linear infinite;
    //     position: absolute;
    //     border: 5px solid transparent;
    //     border-top-color: #F00;
    //     border-radius: 50%
    // }

    // #spinner .one {
    //     width: 10px;
    //     height: 10px;
    //     border-top-color: #8f3b76;
    //     animation-duration: .85s
    // }

    // #spinner .two {
    //     width: 30px;
    //     height: 30px;
    //     border-top-color: #c7417b;
    //     animation-duration: .95s
    // }

    // #spinner .three {
    //     width: 50px;
    //     height: 50px;
    //     border-top-color: #f5487f;
    //     animation-duration: 1.05s
    // }


    // @keyframes spinners {
    //     0% {
    //         transform: rotate(0deg)
    //     }

    //     100% {
    //         transform: rotate(360deg)
    //     }
    // }
}


#overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

#popup {
    position: absolute;
    z-index: 5;
    width: 25%;
    min-height: 15%;
    min-width: 300px;
    height: 40%;
    background-color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .searchedCoin {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .closePopup {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    button {
        background-color: transparent;
        border: none;
    }
}

@media only screen and (max-width: 730px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .navBar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .coins {
        .coin {
            width: 100%;
            height: 100px;
        }
    }
}